<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
<title>Forward fitness Club</title>
<meta charset="utf-8">
</head>
<body>
    <!--Use the header area for the website name or logo-->
<header>
    <a href="index.html">Forward Fitness Club</a>
    <img src="images/ffc_logo.png" alt="Forward Fitness Club logo" height="275" width="845">
</header>
<!--Use the nav area to add hyperlink to 
other pages withion the website-->
<nav>
    <a href="index.html">Home</a>&nbsp; &nbsp;
    <a href="about.html">About Us</a>&nbsp; &nbsp;
    <a href="class.html">Classes</a>&nbsp; &nbsp;
    <a href="nutrition.html">Nutrition</a>&nbsp; &nbsp;
    <a href="contact.html">Contact Us</a>
</nav>

<main>
</main>

<footer>
    &copy; Copyright 2025. All Rights Reserved.<br>
    <a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
</footer>

</body>
</html>